@import '~bootstrap/dist/css/bootstrap.css';
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~@fortawesome/fontawesome-free/css/solid';

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body {
    background-color: #A4C3B2;
    width: auto;
    min-height: 100vh;
    margin: 80px;
    font-family: "heebo", sans-serif;
}

.app-brand {
    margin: 1% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#menu {
    max-width: 100%;
    box-shadow: #232323 1px 1px 16px;
    margin: 1% auto;
    width: auto;
    padding: 20px 40px 20px 40px;
    transition: 1s;
    background-color: #EAF4F4;
    border: 5px solid #A4C3B2;
    border-radius: 30px;
}

a.nav-link {
    font-size: 1.5rem;
    text-decoration: none;
    padding: 5px;
    transition: color 0.3s ease;
    border-bottom: 2px solid transparent;
    margin-right: 10px;
    margin-left: 10px;
}

a.nav-link:hover {
    text-decoration: underline;
    color: #A4C3B2;
}

#content {
    top: 20px;
    box-shadow: #232323 1px 1px 16px;
    margin: 1% auto;
    padding: 20px;
    background-color: #EAF4F4;
    border: 5px solid #A4C3B2;
    border-radius: 30px;
}

.copy {
    margin: auto;
    text-align: center;
    color: #232323;
    border-top: 5px solid #A4C3B2;
}

.breadcrumb {
    padding: 0.1rem;
}

.breadcrumb a {
    color: #232323;
}

.breadcrumb a:hover {
    color: #EAF4F4;
}

.breadcrumb ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.breadcrumb li:not(:last-child)::after {
    display: inline-block;
    margin: 0.25rem;
}

.logo-bike {
    width: 80px;
    height: auto;
    margin-top: 5px;
}

.logo-strava-footer,
.logo-etoile {
    width: 40px;
    height: auto;
    margin-top: 5px;
}

.logo-add {
    color: #EAF4F4;
    position: fixed;
    top: 10px;
    right: 10px;
    width: 40px;
    z-index: 1000;
}

.logo-add a:hover {
    color: #EAF4F4;
}

.logo-strava {
    background-color: #EAF4F4;
    bottom: 10px;
    right: 10px;
    width: 40px;
}

.btn {
    background-color: #EAF4F4;
    color: #232323;
    border-radius: 30px;
    border: 5px solid #A4C3B2;
    box-shadow: #232323 1px 1px 16px;
}

.btn:hover {
    background-color: #232323;
    color: #EAF4F4;
}

#connect {
    position: absolute;
    right: 10px;
    top: 30px;
    margin: 80px
}

#connect-account {
    position: absolute;
    right: 10px;
    top: 80px;
    margin: 80px
}

.user-input {
    width: auto;
    background-color: #EAF4F4;
    color: #232323;
    position: absolute;
    top: 10px;
    right: 60px;
    border-radius: 20px;
    border: 6px solid #A4C3B2;
    box-shadow: #232323 1px 1px 16px;
}

.container {
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    padding: 0;
    text-align: center;
    margin-right: 5px;
    margin-bottom: 40px;
}

.photo-velo {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border: 6px solid #A4C3B2;
    box-shadow: #232323 1px 1px 16px;
}

p, h2, h4, h5 {
    text-align: center;
}

.home-content {
    max-width: 100%;
}

.container-actions-buttons {
    margin-top: 15px;
    margin-bottom: 15px;
}

.title-user-management {
    box-shadow: #232323 8px 8px 20px;
    margin: auto;
    width: 800px;
    max-width: 100%;
    padding: 10px 20px 10px 20px;
    transition: 1s;
    background-color: #A4C3B2;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden-field {
    display: none;
}
